.cuadrante {
  width: 200px;
  height: 200px;
  font-size: xx-large;
  vertical-align: bottom;
  background: white;
  border-color: white;
}

body {
  background-color: rgba(69, 117, 119, 0.799);
  display: flex;
  justify-content: center;
}

.winner {
  font-size: 48px;
}

.endgame {
  font-size: 36px;
}

.restart {
  font-size: 36px;
  max-width: fit-content;
  padding: 8px 16px;
  margin: 0 auto;
}

.endsection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 52px;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
